<header id="gh-head" class="gh-head p-[4vmin] bg-inherit transition-all overflow-hidden group-[.is-menu-open]:fixed group-[.is-menu-open]:inset-0 group-[.is-menu-open]:z-[900] group-[.is-menu-open]:overflow-y-scroll sm:overflow-auto">
    <nav class="gh-head-inner grid grid-cols-[1fr] gap-10 grid-flow-row-dense gh-container w-full max-w-[var(--container-width)] mx-auto h-full sm:h-auto sm:grid-cols-[1fr_auto_1fr] group-[.is-menu-open]:grid-rows-[auto_1fr_auto]">

        <div class="gh-head-brand relative z-10 col-auto flex sm:grid justify-between select-none sm:select-auto items-center sm:max-w-[200px] text-center break-all sm:col-[2/3]">
            <a class="gh-head-logo text-inherit no-underline block font-bold leading-tight text-2xl sm:text-xl" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img class="max-h-10" src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
            <a class="gh-burger inline-block relative sm:hidden cursor-pointer" role="button" aria-label="menu">
                <div class="gh-burger-box relative flex items-center justify-center w-8 h-8 before:m-auto before:absolute before:block before:inset-0 before:content-[''] before:w-full before:h-px before:bg-current before:transition-all before:will-change-[transform,width] group-[.is-menu-open]:before:w-0 group-[.is-menu-open]:before:translage-x-[19px] group-[.is-menu-open]:before:transition-all">
                    <div class="gh-burger-inner w-full h-full before:m-auto before:absolute before:block before:inset-0 before:content-[''] before:w-full before:h-px before:bg-current before:transition-all before:will-change-[transform,width] before:-translate-y-[6px] group-[.is-menu-open]:before:w-[26px] group-[.is-menu-open]:before:translate-x-[6px] group-[.is-menu-open]:before:translate-y-0 group-[.is-menu-open]:before:rotate-[135deg] after:m-auto after:absolute after:block after:inset-0 after:content-[''] after:w-full after:h-px after:bg-current after:transition-all after:will-change-[transform,width] after:translate-y-[6px] group-[.is-menu-open]:after:w-[26px] group-[.is-menu-open]:after:translate-x-[6px] group-[.is-menu-open]:after:translate-y-0 group-[.is-menu-open]:after:rotate-[-135deg]"></div>
                </div>
            </a>
        </div>
        <div class="gh-head-menu hidden self-center flex-col items-center text-center mb-[10vh] font-light text-3xl leading-tighter sm:flex sm:self-auto sm:flex-row sm:text-left sm:mb-auto sm:text-base sm:leading-normal group-[.is-menu-open]:flex">
            {{navigation}}
        </div>
        <div class="gh-head-actions hidden pt-5 sm:pt-0 sm:flex justify-center text-left sm:justify-end items-center list-none sm:text-right group-[.is-menu-open]:flex">
            <div class="gh-head-actions-list inline-flex gap-4 flex-wrap flex-end items-center">
                {{search}}
                {{#if @site.members_enabled}}
                    {{^if @member}}
                    <a class="gh-button ml-10 sm:ml-0" href="{{@site.signup_url}}">Subscribe</a>
                    {{else}}
                    <a class="gh-button ml-10 sm:ml-0" href="#/portal/account">Account</a>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </nav>
</header>


<header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">

        <a class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block" href="{{@site.url}}">

			<svg
				aria-hidden="true"
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
				fill="none"
				focusable="false"
				viewBox="0 0 511.999 511.999"
				xmlns="http://www.w3.org/2000/svg"
			>
                <path style="fill:#507C5C;" d="M449.136,511.688H210.347c-34.664,0-62.864-28.202-62.864-62.866V210.036
                	c0-34.664,28.202-62.866,62.864-62.866h238.787c34.664,0,62.864,28.202,62.864,62.866v140.036c0,8.144-6.603,14.748-14.748,14.748
                	c-8.145,0-14.748-6.604-14.748-14.748V210.036c0-18.4-14.969-33.369-33.368-33.369H210.347c-18.4,0-33.368,14.969-33.368,33.369
                	v238.786c0,18.4,14.969,33.369,33.368,33.369h238.787c18.4,0,33.368-14.969,33.368-33.369v-22.296
                	c0-8.144,6.603-14.748,14.748-14.748c8.145,0,14.748,6.604,14.748,14.748v22.296C512,483.486,483.8,511.688,449.136,511.688z"/>
                <path style="fill:#CFF09E;" d="M162.231,210.036c0-26.576,21.543-48.118,48.118-48.118h139.423V63.176
                	c0-26.575-21.543-48.118-48.118-48.118H62.866c-26.575,0-48.118,21.543-48.118,48.118v238.787c0,26.575,21.543,48.116,48.118,48.116
                	h99.365V210.036z"/>
                <g>
                	<path style="fill:#507C5C;" d="M162.231,364.828H62.864C28.202,364.828,0,336.628,0,301.964V63.176
                		C0,28.512,28.202,0.31,62.864,0.31h238.787c34.664,0,62.864,28.202,62.864,62.866v98.742c0,8.144-6.603,14.748-14.748,14.748
                		H210.345c-18.4,0-33.368,14.969-33.368,33.369V350.08C176.979,358.225,170.376,364.828,162.231,364.828z M62.864,29.807
                		c-18.398,0-33.368,14.969-33.368,33.369v238.787c0,18.4,14.969,33.368,33.368,33.368h84.618V210.036
                		c0-34.664,28.202-62.866,62.864-62.866h124.674V63.176c0-18.4-14.969-33.369-33.368-33.369
                		C301.653,29.807,62.864,29.807,62.864,29.807z"/>
                	<path style="fill:#507C5C;" d="M132.734,150.976c-3.776,0-7.548-1.441-10.428-4.32L16.86,41.209
                		c-5.759-5.759-5.759-15.098,0-20.858c5.759-5.758,15.098-5.756,20.857,0l105.447,105.447c5.759,5.759,5.759,15.098,0,20.858
                		C140.284,149.536,136.51,150.976,132.734,150.976z"/>
                	<path style="fill:#507C5C;" d="M170.711,492.024c-3.774,0-7.55-1.441-10.428-4.32L16.86,344.282
                		c-5.759-5.759-5.759-15.098,0-20.858c5.759-5.758,15.098-5.758,20.858,0l143.422,143.422c5.759,5.759,5.759,15.098,0,20.858
                		C178.261,490.585,174.485,492.024,170.711,492.024z"/>
                	<path style="fill:#507C5C;" d="M481.157,188.951c-3.774,0-7.55-1.441-10.428-4.32L327.306,41.209
                		c-5.759-5.759-5.759-15.098,0-20.858c5.759-5.758,15.098-5.758,20.858,0l143.422,143.422c5.759,5.759,5.759,15.098,0,20.858
                		C488.705,187.511,484.931,188.951,481.157,188.951z"/>
                </g>
            </svg>
            
                <!--{{#if @site.logo}}
                    <img class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12" src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                    {{@site.title}}
                {{/if}}-->
			<span class="text-xl font-bold sm:text-2xl">{{@site.title}}</span>            
        </a>
        <nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
            {{navigation}}
		</nav>
    </div>
        
    <site-search class="ms-auto" id="search">
        <button class="flex h-9 w-9 items-center justify-center rounded-md hover:text-accent" data-ghost-search>{{> "icons/search"}}</button>
    </site-search>
</header>
